.input-box {
    display: flex;
    flex-direction: column;
    background: hsl(var(--background));
    border: 1px solid hsl(var(--border));
    border-radius: 8px;
    padding: 0.5rem 0.75rem;
    margin-top: 0.75rem;
}

    .input-box:focus-within {
        outline: 2px solid hsl(var(--ring));
    }

textarea {
    resize: none;
    border: none;
    outline: none;
    flex-grow: 1;
}

    textarea:placeholder-shown + .tools {
        --send-button-color: hsl(var(--muted-foreground));
    }

.tools {
    display: flex;
    margin-top: 1rem;
    align-items: center;
    gap: 0.5rem;
}

.tool-icon {
    width: 1.25rem;
    height: 1.25rem;
}

.send-button {
    color: var(--send-button-color);
    margin-left: auto;
}

    .send-button:hover {
        color: hsl(var(--foreground));
    }

.attach {
    background-color: hsl(var(--background));
    border-style: dashed;
    color: hsl(var(--muted-foreground));
    border-color: hsl(var(--border));
    padding: 3px 8px;
}

    .attach:hover {
        background-color: hsl(var(--muted));
        color: hsl(var(--foreground));
    }
