@inherits LayoutComponentBase
@using BlazorBlueprint.Primitives.Services

<Fluxor.Blazor.Web.StoreInitializer />

<a href="#main-content" class="skip-nav">Skip to main content</a>

<BbSidebarProvider DefaultOpen="true">
    @Body
</BbSidebarProvider>

<CommandPalette />
<NotificationToast />

<BbContainerPortalHost />
<BbOverlayPortalHost />

<div id="blazor-error-ui" data-nosnippet role="alert">
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
